.Nav{
    width:100%;
    height:98px;
    background: linear-gradient(90deg, rgba(167,219,210,1) 0%, rgba(9,9,121,1) 73%, rgba(3,2,20,1) 100%);
}

.UserLoginImg{
    width: 20px;
    margin-left: 5px;
}
.nav_btn{
    float: right;
    background-color: #C4C4C4;
    padding: 8px 10px;
    margin: 5px 8px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Libre Baskerville', serif;
    color: black;
    position: relative;
}
.cartBtn{
    color: green;
}
.noOfItem{
    position: absolute;
    bottom: -11px;
    right: -9px;
    background-color: bisque;
    border-radius: 56px;
    padding: 0 7px;
    border: 2px solid rgb(243, 34, 34);
}
.nav_btn:hover{
    text-decoration: none;
    background-color: #afaeae;
}

.catoDropDown{
    background-color: #C4C4C4;
    font-family: 'Libre Baskerville', serif;
}

.logo{
    width: 75px;
    float: left;
    margin: 10px 20px;
}
.main_heading{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    margin-top: 10px;
    background-image: linear-gradient( 100.5deg,  rgba(148,146,236,1) 17.7%, rgba(245,194,194,1) 76.1% );
}
.nav_textarea{
    background-color:#E9E9E7;
    border-radius: 5px;
    width: 100%;
}
.nav_t_container{
    width:645px;
    margin: auto;
    padding-top: 50px;
}
/* category css */
.category_container{
    width: 90%;
    height: 340px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 2px;
    border: 1px solid rgb(226, 224, 224);
}
.categoryHader{
    text-align: center;
    font-size: 20px;
    margin-top: 4px;
    font-family: 'Libre Baskerville', serif;
}
.CsubContainer{
    width: 100%;
    height: 290px;
    padding-top: 10px;
    background-color: #ffffff;
}
.categoryItem{
    padding: 3px 10px;
    /* margin: 5px auto; */
    display: block;
    border-bottom: 1px solid rgb(231, 228, 228);
    color: rgb(155, 151, 151);
}
.categoryItem:hover{
    text-decoration: none;
    color: black;
    background-color: rgb(224, 221, 216);
}
@media(max-width:375px){
    .nav_t_container{
        width:320px;
    }
    .Nav{
        width:100%;
        height:130px;
    }
    .category_container{
        display: none;
    }
    .main_heading{
        font-size: 20px;
        margin-top: 8px;
        background-color: aqua;
    }
    .nav_btn{
        padding: 3px 8px;
    }
    .logo{
        width: 50px;
    }
    .searchBarText{
        font-size: 14px;
    }
}