.sliderContainer{
    width: 90%;
    height: 80px;
    background-color: #C3CDDB;
    margin: 0 auto;
    border-radius: 5px;
    padding: 8px 6px;

}
.rangeInput{
    width:80px;
    height: 30px;
    float: left;
    padding: 0 7px;
    text-align: left;
    display: block;
    color: #404040;
    border: 1px solid #a8a8a8;
    border-radius: 3px;
    outline: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px 0 #ececec;
    box-shadow: 0 1px 1px 0 #ececec;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    min-width: auto;
}
.dash{
    float: left;
    width: 10px;
    text-align: center;
    line-height: 30px;
    color: gray;
}
.sliderHader{
    font-size: 14px;
    font-family: 'Libre Baskerville', serif;
}
.sliderBtn{
    border: 1px solid black;
    padding: 2px 4px;
    text-align: center;
    border-radius: 5px;
}