.vContainer{
    width: 100%;
    /* background-color: blue; */
}

#vsec{
    margin: 10px 10px;
    background-color: #C3CDDB;
    border-radius: 10px;
    padding: 18px 5px;
}
.key6F{
    font-size: 20px;
    font-family: monospace;
    color: slategray;
}
.keyFhader{
    text-align: center;
}
.newPrice{
    font-size: 30px;
    color: blue;
    margin-left: 30px;
    padding: 30px 0;
}
.buySecBtn{
    flex: 50%;
    text-align: center;
}
.pastPrice{
    font-size: 20px;
    color: red;
    margin-left: 50px;
}
#btnAddChart{
    background-color: #FB9652;
    border: black solid 1px;
    padding: 10px 10px;
    border-radius: 5px;
}
#btnBuy{
    background-color: #FC5D5D;
    border: black solid 1px;
    padding: 10px 10px;
    border-radius: 5px;
}
#btnAddChart:hover{
  cursor: pointer;
}
#btnBuy:hover{
  cursor: pointer;
}